<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Pawns Generator</title>
	<script src="https://unpkg.com/vue"></script>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div id="app">
		<div id="action-container">
			<div v-if="!images.length">
				<h2>Select images</h2>
				<input type="file" multiple @change="loadingImages">
			</div>
			<div v-else>
				<div v-for="image of images">
					<img :src="image" />
				</div>
				<button @click="clearImages">Clear Images</button>
			</div>
			<input type="number" @click="updatePawns" />
		</div>
		<div v-for="image of images">
			<div v-for="n of numberOfPawns" class="pawn-container">
				<div class="back">
					<div class="base">
					</div>
					<div class="pawn-wrapper">
						<div class="pawn">
							<img :src="image" />
						</div>
					</div>
				</div>
				<div class="front">
					<div class="pawn-wrapper">
						<div class="pawn">
							<img :src="image" />
						</div>
					</div>
					<div class="base">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./app.js"></script>
</body>
</html>